.image-section {
    display: flex;
    justify-content: right;
   
  }
  
  .section-style {
    margin-right: 25px;
    margin-left: 10px;
    background-color: white;
  }
  div {
    margin-top: 20px;
  }
  p{
      text-align: center;
  }
  img:hover{
      background-color: blue ;
      color: white;
  }