body {
    
    nav {
        margin: 0;
        padding: 1em 0!important;
        background-color:#90CAF9;
        .navbar-brand {
            font-size: 100%;
        }
        .navbar-nav {
            li {
                .nav-link {

                    font-size: 1.5em;
                }
            }
        }
    }

    .project-link {
        &:hover {
            text-decoration: none;
        }
    }
}