#one{
    text-align: center;
    text-decoration: none;
    padding: 15px 32px;
    display: inline-block;
    margin: 10px 20px;
    cursor: pointer;
}

#two{
    text-align: center;
    text-decoration: none;
    padding: 15px 32px;
    display: inline-block;
    margin: 10px 20px;
    cursor: pointer;
}
#three{
    text-align: center;
    text-decoration: none;
    padding: 15px 32px;
    display: inline-block;
    margin: 10px 20px;
    cursor: pointer;
}